*.o
staff.txt
student.txt
9-week/problem/finance/__pycache__/app.cpython-310.pyc
9-week/problem/finance/__pycache__/helpers.cpython-310.pyc
9-week/problem/finance/flask_session/2029240f6d1128be89ddc32729463129
9-week/problem/finance/flask_session/d82f9d7cbf7c8ea77532db132b65f7a6
