{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<form action="/" method="get">
    <div class="container py-5 text-center">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col"><h5>Total</h5></th>
                </tr>
                </thead>
                <tbody>
                {% for item in transactions %}
                <tr>
                    <th>{{ item.symbol }}</th>
                    <td>{{ item.symbol_name }}</td>
                    <td>{{ item.shares }}</td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td><h6>Cash</h6></td>
                        <td>${{cash}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td><h5>Total</h5></td>
                        <td>${{total}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</form>
{% endblock %}
